body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
  background-color: #1D1C1A;
}
h1 {
  font-size: 1.2em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #F6F8FA;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.box{ 
  display: flex;
  width: 60px;
  height: 60px;
  border: 1px solid grey;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #F6F8FA;
}

.reset {
  position: fixed;
  top: 10%;
  left: 50%;
  padding: 100px;
  transform: translate(-50%, 50%);
  background-color: #1D1C1A;
  z-index: 1000;
}

.reset-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}

.line{
  display: flex;
  gap: 5px;
}

.correct {
  background-color: #77DD77;
}

.wrongPlace {
  background-color: #f8df81;
}

.incorrect {
  background-color: #AEAEAE;
}

.keyboard {
  max-width: 500px;
  margin: 20px auto;
}

.keyboard > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
}